Lifeguard
<DATEANS>|What is your date of birth? (dd/MM/yyyy)|11/03/2004_1
<TIMEANS>|What time can you come in during the civil work week, Monday through Friday? (HH:mm)|07:00_1
<NUMANS>|On a scale of 1 to 10, how good are you at swimming, in a range of 3? (Example: 7-9)|7:9_1
<DECANS>|What percentage of your work-out time do you spend swimming? (0-1, 76% = 0.76)|0.3_1